/* List View */
.ember-list-view {
    overflow: auto;
    position: relative;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ember-list-item-view {
    border-bottom: 1px solid #bbb;
    height: 60px;
    position: absolute;
    width: 100%;
}

// Override some defaults
hr {
    margin: 0;
    padding: 0;
}

ul, dl, ol {
    margin: 0;
    padding: 0;
}

// Fixed footer
x-layout > footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

// Tabs
x-tabbar-tab a {
    color: #fff;
    text-decoration: none;
}

.my-podcasts {
    margin: 10px 0;
}

.my-podcasts li {
    display: inline-block;
    float: left;
    margin: 0 2.5% 20px;
    width: 45%;
}

.my-podcasts li img {
    display: inline-block;
    height: 100%;
    width: 100%;
}
