.full-screen {
    background: rgba(0, 0, 0, .35);
    color: #f2f2f2;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;

    .spinner {
        color: #f2f2f2;
    }
}

// Override some defaults
hr {
    margin: 0;
    padding: 0;
}

ul, dl, ol {
    margin: 0;
    padding: 0;
}

// Generic things
.center {
    text-align: center;
}

// Fixed header/footer
x-layout {
    > header, > footer {
        position: fixed;
        width: 100%;
    }

    > header {
        top: 0;
    }

    > section {
        padding: 45px 0 75px;
    }

    > footer {
        bottom: 0;
    }
}

// Header actions
x-appbar h1 {
    display: none;
}
x-appbar h1:last-of-type {
    display: block;
}
x-appbar > a {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 45px;
    background: transparent;
}
x-appbar > a:hover {
    background-color: #00405d;
}
x-appbar > a::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Tabs
x-tabbar-tab a {
    color: #fff;
    text-decoration: none;
}

.my-podcasts {
    margin: 5px 0;

    li {
        display: inline-block;
        float: left;
        height: 150px;
        margin: 0 2.5% 20px;
        width: 45%;

        img {
            display: inline-block;
            width: 100%;
        }

        .no-cover {
            background: #dedede;
            border: 1px solid #000;
            color: #000;
            display: inline-block;
            font-size: 1.2em;
            min-height: 100px;
            padding: 30px 0 0;
            text-align: center;
        }
    }
}
