.episodes {
    .episode {
        box-sizing: border-box;
        cursor: pointer;
        height: 100%;
        padding: 5px;

        &:active {
            background: #dedede;
        }
    }

    .name {
        display: inline-block;
        float: left;
        line-height: 1.3em;
        padding: 10px 0 0 5px;
        width: 80%;
    }

    .actions {
        float: right;
        font-size: 20px;
        margin: 15px 20px 0 0;
        text-align: center;
    }
}
