#player.populated-true {
  display: block;
  padding: 1em 0em;

  div {
    text-align: center;
  }
}

#player.populated-false {
  display: none;
}

progress {
  -webkit-appearance: none;
   appearance: none;

   &::-moz-progress-bar {
    background-color: #4183C4;
   }

   &[value]::-webkit-progress-value {
    background-color: #4183C4;
   }
}

.player-controls a {
  font-size: 1.75rem;
}
