#player.populated-true {
  display: block;
  border-top: 1px solid #222;
  padding-bottom: 0.5rem;

  div {
    text-align: center;
  }
}

#player.populated-false {
  display: none;
}

#time-info {
  position: relative;

  span {
    color: #fff;
    position: absolute;
    top: 3px;

    &#time-elapsed {
      left: 5px;
    }

    &#time-remaining {
      right: 5px;
    }
  }

  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #4183C4;
    border: none;
    width: 100%;
    height: 25px;

    &::-moz-progress-bar {
      background-color: rgb(18, 76, 134);
    }
  }

}

.player-controls {
  padding: 0.5rem;
    a {
      font-size: 3rem;
      padding: 0.5rem;
    }
}
