// .cover-image {
//     display: block;
//     width: 100%;
// }

.cover-image {
    display: block;
    max-height: 150px;

    &::after {
        clear: both;
        content: "";
        display: block;
    }
}

.podcast {
    padding: 5px;
}
