.podcasts-index .ui.grid {
  margin-top: 0rem;
}

// Podcasts header
.add-new-podcast-button {
  float: right;
}

.podcast-cover img {
  display: inline-block;
  width: 100%;
}

.podcast-show {
  h1 {
    text-align: center;
  }

  .podcast-cover {
    img {
      max-height: 250px;
      max-width: 250px;
    }
  }
}

.episodes {
  .episode {
    position: relative;

    &:nth-child(odd) {
      background: #eee;
    }

    &.item .header {
      font-weight: normal;
      margin: 0 2rem 1rem .125rem;
    }

    &.item .content {
      padding-left: .75rem;
    }

    .new {
      padding: .125rem 0 0 .75rem
    }

    .column:not(.row).play-button {
      padding: 2rem .25rem;
    }
  }
}
