#search-input {
    width: 75%;
}

.results {
    box-sizing: border-box;

    .podcast {
        box-sizing: border-box;
        float: left;
        height: 150px;
        overflow: hidden;
        padding: 2.5%;
        text-align: center;
        width: 45%;

        &:hover {
            cursor: pointer;
        }
    }
}
