<form id="podcast-search-form" action="#search/query">
  <p>
    <input id="podcast-search" type="text" required="" placeholder="Enter a podcast name" value="<%= search %>">
    <button type="reset">Clear</button>

    <button id="podcast-search-submit" class="actions recommend">Find Podcast</button>
  </p>
</form>

<% if (search) { %>
  <section data-type="list" id="search-results" class="search-results">
    <header>Search Results</header>

    <ul>
      <li class="loading"><progress></progress><p>Looking for podcasts...</p></li>
    </ul>
  </section>
<% } %>
