<section data-type="list" id="popular-results" class="search-results">
  <header>Top Podcasts</header>

  <ul>
    <li class="loading"><progress></progress><p>Getting popular podcasts...</p></li>
  </ul>
</section>
