<li class="search-result">
  <a href="#subscribe" class="title subscribe" data-rss="<%= rssURL %>">
    <% if (imageURL) { %>
      <img class="podcast-cover" src="<%= imageURL %>">
    <% } %>
    <p><%= name %></p>
  </a>
</li>
