<li id="episode-<%= episode.get('id') %>" class="episode">
  <% if (episode.get('isDownloaded')) { %>
    <strong><%= episode.get('title') %></strong> <a href="#play" class="play" data-episodeid="<%= episode.get('id') %>">PLAY</a>
  <% } else { %>
    Downloading episode...
  <% } %>
</li>
