<section data-type="list" id="podcast-details-<%= podcast.get('id') %>" class="podcast-details">
  <header><%= podcast.get('name') %></header>

  <!-- <a href="#delete" class="destroy" data-podcastid="<%= podcast.get('id') %>">[X]</a> -->

  <ul class="episodes" data-podcastid="<%= podcast.get('id') %>"></ul>
</section>
