<div id="podcast-details-<%= podcast.get('id') %>" class="podcast-details">  
  <h2><%= podcast.get('name') %></h2>

  <a href="#delete" class="destroy" data-podcastid="<%= podcast.get('id') %>">[X]</a>

  <ul class="episodes" data-podcastid="<%= podcast.get('id') %>"></ul>
</div>
