.full-screen {
  background: rgba(0,0,0,0.35);
  color: #f2f2f2;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.full-screen .spinner {
  color: #f2f2f2;
  margin: 100px auto;
}
hr {
  margin: 0;
  padding: 0;
}
ul,
dl,
ol {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
.hide {
  display: none;
}
.fxos11 x-layout {
  min-height: 460px;
}
.fxos11 x-layout header a {
  float: right;
}
x-layout > header,
x-layout > footer {
  position: fixed;
  width: 100%;
}
x-layout > header {
  top: 0;
}
x-layout > section {
  padding: 45px 0 75px;
}
x-layout > footer {
  bottom: 0;
}
x-appbar h1 {
  display: none;
}
x-appbar h1:last-of-type {
  display: block;
}
x-appbar > a {
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 45px;
  background: transparent;
}
x-appbar > a:hover {
  background-color: #00405d;
}
x-appbar > a::-moz-focus-inner {
  border: 0;
  padding: 0;
}
x-tabbar-tab a {
  color: #fff;
  display: block;
  text-decoration: none;
}
x-tabbar-tab[selected] {
  border-bottom: 0.3rem solid #0ac;
}
x-tabbar-tab[selected] a {
  color: #0ac;
}
.my-podcasts {
  margin: 5px 0;
}
.my-podcasts li {
  display: inline-block;
  float: left;
  height: 150px;
  margin: 0 2.5% 20px;
  width: 45%;
}
.my-podcasts li img {
  display: inline-block;
  width: 100%;
}
.my-podcasts li .no-cover {
  background: #dedede;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font-size: 1.2em;
  min-height: 100px;
  padding: 30px 0 0;
  text-align: center;
}

.episodes .episode {
  box-sizing: border-box;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  display: block;
  height: 100%;
  height: 60px;
  padding: 5px;
}
.episodes .episode:active {
  background: #dedede;
}
.episodes .episode.is-new {
  background: rgba(49,49,49,0.1);
}
.episodes .name {
  display: inline-block;
  float: left;
  line-height: 1.3em;
  padding: 10px 0 0 5px;
  width: 80%;
}
.episodes .actions {
  float: right;
  font-size: 20px;
  margin: 15px 20px 0 0;
  text-align: center;
}

#player {
  background: #ddd;
  border-top: #010101 1px solid;
  font-size: 18px;
  opacity: 0;
  transition: 300ms linear all;
}
#player progress {
  width: 100%;
  border: 0;
  background: #0ac;
  height: 25px;
}
#player progress::-moz-progress-bar {
  background: #00202f;
}
#player #time-elapsed,
#player #time-remaining {
  position: absolute;
  top: 5px;
  color: #fff;
}
#player #time-elapsed {
  left: 5px;
}
#player #time-remaining {
  right: 5px;
}
#player .episode-name {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 10px;
}
#player .player-controls {
  padding-bottom: 5px;
  text-align: center;
}
#player .player-controls .forward,
#player .player-controls .backward {
  cursor: pointer;
  font-size: 30px;
  padding: 0 15px;
  color: #777;
}
#player .player-controls .play-pause {
  cursor: pointer;
  font-size: 30px;
  color: #444;
}
#player.is-populated {
  opacity: 1;
  transition: 300ms linear all;
}

.cover-image {
  display: block;
  max-height: 150px;
}
.cover-image::after {
  clear: both;
  content: "";
  display: block;
}
.podcast {
  padding: 5px;
}
.error {
  color: #ff4500;
}

#search-input {
  width: 75%;
}
.results {
  box-sizing: border-box;
}
.results .podcast {
  box-sizing: border-box;
  float: left;
  height: 150px;
  overflow: hidden;
  padding: 2.5%;
  text-align: center;
  width: 45%;
}
.results .podcast:hover {
  cursor: pointer;
}

.spinner {
  margin: auto auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@-moz-keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
@-o-keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
