<h2>Add Podcast RSS</h2>

{{input type="url" value=rssURL placeholder="Podcast URL"}}
<button {{action create}}>Add</button>

<h2>New to Podcasts?</h2>
<h3>Check out our recommendations:</h3>

<img alt="The Cracked Podcast" class="cover cover-image"
     {{action create "http://rss.earwolf.com/the-cracked-podcast"}}
     src="http://cdn.earwolf.com/wp-content/uploads/2013/08/EAR_CrackedPodcast_1600x1600_Cover_Final.jpg">
