<h1 class="ui dividing header">{{t "tabs.myPodcasts"}}</h1>

<div class="ui four column doubling grid">
  {{#each model as |podcast|}}
    <div class="column podcast-cover">
      {{#link-to 'podcasts.show' podcast class="cover"}}
        <img src={{podcast.coverImageURL}} alt={{podcast.title}}>
      {{/link-to}}
    </div>
  {{/each}}
</div>

{{outlet}}
