<form id="modal-dialog" role="dialog" data-type="confirm">
  <section>
    <h1>Delete podcast</h1>
    <p>
      <% if (imageURL) { %>
        <img alt="Podcast Icon" src="<%= imageURL %>">
      <% } %>
      <strong><%= podcast.get('name') %></strong>
      <% if (podcast.get('description')) { %>
        <small></small>
      <% } %>
    </p>
    <p>Are you sure you want to delete this podcast?</p>
  </section>
  <menu>
    <button data-action="cancel">Cancel</button>
    <button class="danger" data-action="confirm">Delete</button>
  </menu>
</form>
