<div class="episodes">
  {{#collection Ember.ListView content=controller height=300 rowHeight=60}}
    <div {{action "setEpisode" this}} class="episode">
      <div class="name">
        <strong>Episode {{episodeId}}</strong>: {{name}}
      </div>

      <div class="actions">
        {{#if isDownloaded}}
          <i class="fa fa-play-circle"></i>
        {{else}}
          <i class="fa fa-cloud-download"></i>
        {{/if}}
      </div>
    </div>
  {{/collection}}
</div>
