@import "../gaia/style/buttons.css";
@import "../gaia/style/confirm.css";
@import "../gaia/style/headers.css";
@import "../gaia/style/input_areas.css";
@import "../gaia/style_unstable/progress_activity.css";
@import "../gaia/style_unstable/lists.css";
@import "../gaia/style_unstable/tabs.css";

body {
    background-color: #030303;
    color: #f2f2f2;
    margin: 5rem 0 0;
    padding: 0 0 160px;
}

/** Override some seriously weird FxOS font choices. Fuuuuuuuuck. */
body, section[role="region"] > header:first-child h1, [data-type="list"], button, a[role="button"], input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea {
    font-family: "MozTT", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.hide {
    display: none;
}

.off-screen {
    position: absolute;
    text-indent: -9999px;
    top: 0;
}

/** App Header */
#app-header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#title-header {
    background-color: rgb(26, 36, 37);
}

#back {
    display: none;
}

body[data-active-tab=podcasts][data-podcast-details=on] #back {
    display: block;
}

/** Panels */
#popular-tab-container, #search-tab-container {
    display: none;
}

/** ADD PODCAST SHEET */
#add-podcast::before {
    background: rgba(3, 3, 3, .75);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#add-podcast {
    animation-duration: 1s;
    animation-name: appDeeperHeaderIn;
    display: none;
    position: relative;
    z-index: 11001;
}

#add-podcast::after {
    clear: both;
    content: "";
    display: block;
}

#add-podcast .actions {
    float: left;
    font-size: 1.4em;
    margin: 5px 5% 0;
    width: 40%;
}

/** Podcast Cover/List View */
#podcasts::after {
    clear: both;
    content: "";
    display: block;
}

.podcast-cover.has-image {
    background-color: transparent;
}

.podcast-cover {
    background: no-repeat 0 0 #d2d2d2;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 150px;
    margin: 2%;
    max-height: 150px;
    max-width: 150px;
    width: 45%;
}

.podcast-cover a {
    color: #030203;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.podcast-cover a .name {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.podcast-cover.has-image .name {
    left: 0;
    text-indent: -9999px;
    top: 0;
    transform: none;
}

/** Podcast Modal */
#podcast-details {
    transition: 300ms ease-in all;
}

#podcast-details.active {
    display: block;
}

#podcast-details header {
    font-size: 1.6em;
    line-height: 1.2em;
}

#podcast-details li, #podcast-details .title {
    height: auto;
}

#podcast-details .title {
    display: block;
    font-size: 1.2em;
    padding: 5px;
}

#podcast-details .download p, #podcast-details .queued {
    color: rgb(99, 99, 99);
}

#podcast-details p {
    font-size: 1em;
    line-height: 1.1em;
    padding: 0;
}

#podcast-details .episode progress {
    float: right;
}

#podcast-details .downloading strong {
    color: #f3f3f3;
}

/** Search */
.search-results {
    margin: 0 0 170px;
}

.search-results .loading progress {
    float: right;
    margin: 1rem 0 0;
}

[data-type="list"] li {
    height: auto;
}

[data-type="list"] li p, [data-type="list"] li p:first-of-type {
    color: #fff;
    font-size: 1.2em;
    white-space: normal;
}

[data-type="list"] li.search-result {
    border-bottom-color: #212121;
}

.search-results .podcast-cover {
    height: 60px;
    margin: 15px 2.5px 0 0;
    width: 60px;
}

.search-result p::after {
    clear: both;
    content: "";
    display: block;
}

/** Player (BOTTOM OF SCREEN) */
#player {
    background: #030303;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #212121;
    bottom: 4rem;
    font-size: .9em;
    height: 84px;
    left: 0;
    overflow: hidden;
    padding-top: .3rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#player h2, #player h3 {
    font-size: 24px;
    margin: 8px 5px 5px;
}

#player p {
    display: none;
    height: 64px;
    overflow: ellipsis;
    width: 50%;
}

#play-pause {
    background: url(../img/button-pause.png) center;
    float: right;
    height: 60px;
    margin-right: 20px;
    position: relative;
    width: 60px;
    z-index: 1001;
}

#play-pause.paused {
    background-image: url(../img/button-play.png);
}

#time-info {
    height: 16px;
    width: 100%;
}

#audio-progress {
    display: block;
    margin: 0 auto;
    width: calc(100% - 140px);
}

#time-elapsed {
    float: left;
    height: .3rem;
    margin: -4px 5px 0;
    text-align: right;
    width: 60px;
}

#time-remaining::before {
    content: "-";
    display: inline;
}

#time-remaining {
    float: right;
    height: .3rem;
    margin: -4px 5px 0;
    text-align: left;
    width: 60px;
}

/** Tabs */
#tabs {
    bottom: 0;
    left: 0;
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 10000;
}

#tabs a {
    outline: 0;
}

#tabs .active {
    color: rgb(98, 198, 245);
}

/** Dialogs */
#modal-dialog {
    position: fixed;
    z-index: 1000000;
}

#modal-dialog section {
    overflow-y: auto;
}

#modal-dialog img {
    height: 45px;
    width: 45px;
}

#modal-dialog button {
    font-size: 1.5rem;
}
