
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* @import "install-button.css"; */
/* @import "layouts.css"; */
@import "../shared/style/buttons.css";
@import "../shared/style/headers.css";
@import "../shared/style/input_areas.css";
@import "../shared/style_unstable/progress_activity.css";
@import "../shared/style_unstable/lists.css";

/* Your styles here */
body {
    background-color: #f2f2f2;
    color: #030303;
    font-family: "MozTT", sans-serif;
    margin: 0;
    padding: 0 0 64px;
}

.hide {
    position: absolute;
    text-indent: -9999px;
    top: 0;
}

#back {
    display: none;
}

/** ANIMATIONS */
/* Move main screen */
animation: appDeeperOut 0.4s forwards ease-in;
@keyframes appDeeperOut {
99% { transform: translateX(0); }
100% { transform: translateX(-100%); }
}
 
/* Move main screen header */
animation: appDeeperHeaderOut 0.4s forwards ease-in;
@keyframes appDeeperHeaderOut {
50% { transform: translateX(0); }
99% { transform: translateX(-10%); }
100% { transform: translateX(0); }
}
 
/* Move main screen body */
animation: appDeeperBodyOut 0.4s forwards ease-in;
@keyframes appDeeperBodyOut {
0% { transform: translateX(0); }
99% { transform: translateX(-100%); }
100% { transform: translateX(0); }
}
 
/* Move secondary screen */
animation: appDeeperIn 0.4s forwards ease-in;
@keyframes appDeeperIn {
0% { transform: translateX(100%); }
100% { transform: translateX(0); }
}
 
/* Fade in secondary screen header */
animation: appDeeperHeaderIn 0.4s forwards ease-in;
@keyframes appDeeperHeaderIn {
50% { opacity: 0; }
100% { opacity: 1; }
}

/** ADD PODCAST SHEET */
#add-podcast {
    animation-duration: 1s;
    animation-name: appDeeperHeaderIn;
    display: none;
}

#add-podcast::after {
    clear: both;
    content: "";
    display: block;
}

#add-podcast .actions {
    float: left;
    font-size: 1.4em;
    margin: 5px 5% 0;
    width: 40%;
}

/** Podcast Cover/List View */
#podcasts {

}

#podcasts::after {
    clear: both;
    content: "";
    display: block;
}

.podcast-cover {
    background: no-repeat 0 0 #f3f3f3;
    background-size: 100% auto;
    border: 1px solid #030303;
    display: block;
    float: left;
    height: 150px;
    margin: 2%;
    max-height: 150px;
    max-width: 150px;
    width: 45%;
}

.podcast-cover a {
    color: #030203;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.podcast-cover a .name {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.podcast-cover.has-image .name {
    left: 0;
    text-indent: -9999px;
    top: 0;
    transform: none;
}

/** Podcast Modal */

#podcast-details {
    display: none;
    transition: 300ms ease-in all;
}

#podcast-details.active {
    display: block;
}

#podcast-details header {
    font-size: 1.6em;
    line-height: 1.2em;
}

#podcast-details li, #podcast-details .title {
    height: auto;
}

#podcast-details .title {
    display: block;
    font-size: 1.2em;
    padding: 5px;
}

#podcast-details .download p, #podcast-details .queued {
    color: rgb(99, 99, 99);
}

#podcast-details p {
    font-size: 1em;
    line-height: 1.1em;
    padding: 0;
}

#podcast-details .episode progress {
    float: right;
}

/** Player (BOTTOM OF SCREEN) */

#player {
    background: #e7e7e7;
    border-top: 1px solid #030303;
    bottom: 0;
    font-size: .9em;
    height: 64px;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#player h2, #player h3 {
    font-size: 24px;
    margin: 0 5px 5px;
}

#player p {
    display: none;
    height: 64px;
    overflow: ellipsis;
    width: 50%;
}

#play-pause {
    background: url(../img/button-pause.png) center;
    float: right;
    height: 60px;
    position: relative;
    width: 60px;
    z-index: 1001;
}

#play-pause.paused {
    background-image: url(../img/button-play.png);
}
