
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* @import "install-button.css"; */
/* @import "layouts.css"; */
@import "../shared/style/buttons.css";
@import "../shared/style/confirm.css";
@import "../shared/style/headers.css";
@import "../shared/style/input_areas.css";
@import "../shared/style_unstable/progress_activity.css";
@import "../shared/style_unstable/lists.css";
@import "../shared/style_unstable/tabs.css";

/* Your styles here */
body {
    background-color: #030303;
    color: #f2f2f2;
    font-family: "MozTT", sans-serif;
    margin: 5rem 0 0;
    padding: 0 0 130px;
}

.hide {
    position: absolute;
    text-indent: -9999px;
    top: 0;
}

/** App Header */
#app-header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#app-header header {
    background-color: rgb(26, 36, 37);
}

#back {
    display: none;
}

/** Panels */

#popular-tab-container, #search-tab-container {
    display: none;
}

/** ADD PODCAST SHEET */
#add-podcast {
    animation-duration: 1s;
    animation-name: appDeeperHeaderIn;
    display: none;
}

#add-podcast::after {
    clear: both;
    content: "";
    display: block;
}

#add-podcast .actions {
    float: left;
    font-size: 1.4em;
    margin: 5px 5% 0;
    width: 40%;
}

/** Podcast Cover/List View */
#podcasts {

}

#podcasts::after {
    clear: both;
    content: "";
    display: block;
}

.podcast-cover {
    background: no-repeat 0 0 transparent;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 150px;
    margin: 2%;
    max-height: 150px;
    max-width: 150px;
    width: 45%;
}

.podcast-cover a {
    color: #030203;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.podcast-cover a .name {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.podcast-cover.has-image .name {
    left: 0;
    text-indent: -9999px;
    top: 0;
    transform: none;
}

/** Podcast Modal */

#podcast-details {
    display: none;
    transition: 300ms ease-in all;
}

#podcast-details.active {
    display: block;
}

#podcast-details header {
    font-size: 1.6em;
    line-height: 1.2em;
}

#podcast-details li, #podcast-details .title {
    height: auto;
}

#podcast-details .title {
    display: block;
    font-size: 1.2em;
    padding: 5px;
}

#podcast-details .download p, #podcast-details .queued {
    color: rgb(99, 99, 99);
}

#podcast-details p {
    font-size: 1em;
    line-height: 1.1em;
    padding: 0;
}

#podcast-details .episode progress {
    float: right;
}

/** Search */

.search-results {
    margin: 0 0 170px;
}

.search-results .loading progress {
    float: right;
    margin: 1rem 0 0;
}

[data-type="list"] li p, [data-type="list"] li p:first-of-type {
    color: #fff;
    font-size: 1.2em;
}

[data-type="list"] li.search-result {
    border-bottom-color: #212121;
}

.search-results .podcast-cover {
    height: 60px;
    margin: 15px 2.5px 0 0;
    width: 60px;
}

.search-result p::after {
    clear: both;
    content: "";
    display: block;
}

/** Player (BOTTOM OF SCREEN) */

#player {
    background: #030303;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #212121;
    bottom: 4rem;
    font-size: .9em;
    height: 64px;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#player h2, #player h3 {
    font-size: 24px;
    margin: 8px 5px 5px;
}

#player p {
    display: none;
    height: 64px;
    overflow: ellipsis;
    width: 50%;
}

#play-pause {
    background: url(../img/button-pause.png) center;
    float: right;
    height: 60px;
    margin-right: 20px;
    position: relative;
    width: 60px;
    z-index: 1001;
}

#play-pause.paused {
    background-image: url(../img/button-play.png);
}

/** Tabs */
#tabs {
    bottom: 0;
    left: 0;
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 10000;
}

#tabs a.active {
    color: rgb(98, 198, 245);
}

/** Dialogs */
#modal-dialog {
    position: fixed;
    z-index: 1000000;
}

#modal-dialog section {
    overflow-y: auto;
}

#modal-dialog img {
    height: 45px;
    width: 45px;
}
