
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', serif;
}

.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list ul li {
    margin: 0;
    padding: 1em .5em;
    border-top: 1px solid grey;
    cursor: pointer;
}

#app > section {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border-left: 1px solid black;
}

#app > section.moving {
    transition: left ease-in 0.15s;
	-o-transition: left ease-in 0.15s;
	-ms-transition: left ease-in 0.15s;
	-moz-transition: left ease-in 0.15s;
	-webkit-transition: left ease-in 0.15s;
}

#app {
    width: 100%;
    height: 100%;
}

section > header {
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

	background: linear-gradient(top, #c66a00, #b54d17);
	background: -o-linear-gradient(top, #c66a00, #b54d17);
	background: -ms-linear-gradient(top, #c66a00, #b54d17);
	background: -moz-linear-gradient(top, #c66a00, #b54d17);
	background: -webkit-linear-gradient(top, #c66a00, #b54d17);
	border-bottom: 1px solid #933212;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
    color: white;

    height: 2em;
    padding: .5em 0;
}

section > header .navitems {
    height: 2em;
    float: right;
}

section > header .navitems.left {
    top: 0;
    left: 0;
    float: left;
}

section > header .navitems button {
    height: 100%;
    margin-right: .5em;
    margin-left: 0;
    font-size: .75em;
    border: 0;
}

section > header .navitems.left button {
    margin-left: .5em;
    margin-right: 0;
}

#app > section .contents {
    overflow: auto;
}

header h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 4pt;
    padding: 0;
    font-size: 2em;
    line-height: 29pt;
}